# This project is divided into 3 parts
1) Part 1 - Obtain the top movies from OMDB website using APIs  
2) Part 2 - Establish connection to a SQL database from Python  
3) Part 3 - Uploading data to the database

# Part 1

#### Go to http://www.omdbapi.com/ and request an API Key from the page.

In [1]:
# Begin by importing all required packages
import requests
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# First we need to obtain an api key through the website
api_key = "d09457b3"

# Next we create url containing api key and search term (blade in this example)
url = "http://www.omdbapi.com/?apikey=" + api_key + "&s=blade"

In [3]:
# Set parameters
parameter = {"plot" : "Short", "r" : "JSON"}

In [4]:
# Request url and print JSON
response = requests.get(url, params = parameter)
blade_results = json.loads(response.text)
blade_results = blade_results["Search"]

In [5]:
# Pretty-print the JSON
pretty_results = json.dumps(blade_results, indent=2, sort_keys=False)
print(pretty_results)

[
  {
    "Title": "Blade Runner",
    "Year": "1982",
    "imdbID": "tt0083658",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg"
  },
  {
    "Title": "Blade Runner 2049",
    "Year": "2017",
    "imdbID": "tt1856101",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"
  },
  {
    "Title": "Blade",
    "Year": "1998",
    "imdbID": "tt0120611",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg"
  },
  {
    "Title": "Blade II",
    "Year": "2002",
    "imdbID": "tt0187738",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg"
  },
  {
    "Title": "Blade: Trinity",
    "Year": "2004",
    "imdbID": "tt0359013",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg"
  },
  {
    "Title": "Sling Blade",
    "Year": "1996",
    "imdbID": "tt0117666",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg"
  },
  {
    "Title": "Dragon Blade",
    "Year": "2015",
    "imdbID": "tt3672840",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg"
  },
  {
    "Title": "Blade of the Immortal",
    "Year": "2017",
    "imdbID": "tt5084170",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg"
  },
  {
    "Title": "Shinobi: Heart Under Blade",
    "Year": "2005",
    "imdbID": "tt0475723",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg"
  },
  {
    "Title": "Blade Runner: Black Out 2022",
    "Year": "2017",
    "imdbID": "tt7428594",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg"
  }
]

In [6]:
type(pretty_results)

str

In [7]:
#Parse the JSON string to an internal Python object
pretty_results = json.loads(pretty_results)

for each in pretty_results:
    print("imdbID :", each["imdbID"])

imdbID : tt0083658
imdbID : tt1856101
imdbID : tt0120611
imdbID : tt0187738
imdbID : tt0359013
imdbID : tt0117666
imdbID : tt3672840
imdbID : tt5084170
imdbID : tt0475723
imdbID : tt7428594

In [8]:
# Creating the list of 10 movies
movies = ["Titanic", 
          "Life is Beautiful", 
          "The Shawshank Redemption", 
          "Inception", 
          "Avatar", 
          "Jurassic Park", 
          "Wall-E", 
          "Joker", 
          "Avengers", 
          "2012"]

In [9]:
top_10_movies = pd.DataFrame(columns = ["Movie Title", "imdbID"])

# Loops over the movies list
for movie in movies:
    # Concatenates movie with the url to create the url for each movie
    url = "http://www.omdbapi.com/?apikey=" + api_key + "&s=" + movie
    # Requests the website's access to the server and stores the response
    response = requests.get(url, params = parameter)
    # Parsing the response
    movie_choice = json.loads(response.text)
    # Concatenates the search results under top_10_movies list
    top_10_movies = top_10_movies.append({"Movie Title" : movie_choice["Search"][0]["Title"], 
                                          "imdbID" : movie_choice["Search"][0]["imdbID"]}, ignore_index = True)

In [10]:
movie_details = pd.DataFrame(columns = ["Title", "Year", "Genre", "Director", "IMDB_Rating", "Rotten_tomatoes", 
                                        "Metacritic", "Plot", "Box_office"])
movie_ids = top_10_movies["imdbID"]

# Loops over the movies id's
for movie_id in movie_ids:
    # Concatenate id's with the url to create the url for each movie id
    url = "http://www.omdbapi.com/?apikey=" + api_key + "&i=" + movie_id
    # Request the website's access to the server and store the response
    response = requests.get(url, params = parameter)
    # Parse the response
    movie_choice = json.loads(response.text)
    # Pull out required information for each required feature and store it in a dataframe
    movie_details = movie_details.append({"Title" : movie_choice["Title"], "Year" : movie_choice["Year"],
                                          "Genre" : movie_choice["Genre"], "Director" : movie_choice["Director"],
                                          "IMDB_Rating" : movie_choice["imdbRating"], 
                                          "Rotten_tomatoes" : movie_choice["Ratings"][1]["Value"],
                                          "Metacritic" : movie_choice["Ratings"][2]["Value"],
                                          "Plot" : movie_choice["Plot"], "Box_office" : movie_choice["BoxOffice"]}, 
                                          ignore_index=True)

In [11]:
movie_details

,Title,Year,Genre,Director,IMDB_Rating,Rotten_tomatoes,Metacritic,Plot,Box_office
0,Titanic,1997,"Drama, Romance",James Cameron,7.8,89%,75/100,A seventeen-year-old aristocrat falls in love ...,N/A
1,Life Is Beautiful,1997,"Comedy, Drama, Romance, War",Roberto Benigni,8.6,80%,59/100,When an open-minded Jewish librarian and his s...,N/A
2,The Shawshank Redemption,1994,Drama,Frank Darabont,9.3,90%,80/100,Two imprisoned men bond over a number of years...,N/A
3,Inception,2010,"Action, Adventure, Sci-Fi, Thriller",Christopher Nolan,8.8,87%,74/100,A thief who steals corporate secrets through t...,"$292,568,851"
4,Avatar,2009,"Action, Adventure, Fantasy, Sci-Fi",James Cameron,7.8,82%,83/100,A paraplegic Marine dispatched to the moon Pan...,"$749,700,000"
5,Jurassic Park,1993,"Action, Adventure, Sci-Fi, Thriller",Steven Spielberg,8.1,91%,68/100,A pragmatic Paleontologist visiting an almost ...,"$45,299,680"
6,WALL·E,2008,"Animation, Adventure, Family, Sci-Fi",Andrew Stanton,8.4,95%,95/100,"In the distant future, a small waste-collectin...","$223,749,872"
7,Joker,2019,"Crime, Drama, Thriller",Todd Phillips,8.6,68%,59/100,"In Gotham City, mentally troubled comedian Art...",N/A
8,The Avengers,2012,"Action, Adventure, Sci-Fi",Joss Whedon,8.0,92%,69/100,Earth's mightiest heroes must come together an...,"$623,279,547"
9,2012,2009,"Action, Adventure, Sci-Fi",Roland Emmerich,5.8,39%,49/100,A frustrated writer struggles to keep his fami...,"$166,112,167"

In [12]:
# Standardizing the imdb rating (floating point on 0 scale to integers on 100 scale)
movie_details["IMDB_Rating"] = movie_details["IMDB_Rating"].astype(float)
movie_details["IMDB_Rating"] = (movie_details["IMDB_Rating"] * 10).astype(int)

In [13]:
# Standardizing rotten tomatoes ratings (integers representing percentages)
# Remove "%" and convert the datatype to integer
movie_details["Rotten_tomatoes"] = (movie_details["Rotten_tomatoes"].str.replace(r'%', '')).astype(int)

In [14]:
# Standardizing metacritic ratings (integers representing percentages)
# Remove "/100" and convert the datatype to integer
movie_details["Metacritic"] = (movie_details["Metacritic"].str.replace(r'/100', '')).astype(int)

In [15]:
# Converting year into integer
movie_details["Year"] = movie_details["Year"].astype(int)
# Replacing N/A with empty string
movie_details["Box_office"] = movie_details["Box_office"].str.replace("N/A","")

# Part 2

In [16]:
# using create_engine function from sqlalchemy to connect to the mysql
user="root"
passwd = "root"
host = "localhost"
port = "3306"
database_name = "movie"
mysql_engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}:{3}/'.format(user, passwd, host, port) + "?use_pure=True")
# creates the database named movie
mysql_engine.execute("CREATE DATABASE IF NOT EXISTS {0} ".format(database_name))

In [17]:
# creates the connection to the movie database
mysql_engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}:{3}/'.format(user, passwd, host, port) + database_name + "?use_pure=True")

# Part 3

In [18]:
# Create a table omdb with columns and assign them appropriate data types
table_name = "omdb"
mysql_engine.execute("CREATE TABLE " + table_name +" (title VARCHAR(200), year INT, genre VARCHAR(40), director VARCHAR(70),"+
                 "imdb_rating INT, rotten_tomatoes INT, metacritic INT, plot VARCHAR(300), box_office VARCHAR(30))")

In [19]:
# Using the mysql engine, writing the dataframe into the mysql table
movie_details.to_sql(table_name, con = mysql_engine, if_exists = 'append', chunksize = 100, index = False)
mysql_engine.dispose()